//_header.scss
@import "_set";
.header {
 position:relative;
 min-height: 2.8125em;//45px; 
 background-color: $color-grey;
 position:relative;

}
.header__content {
  min-height: 2.8125em;//45px;
  position:relative;
  padding-bottom: 1.875em;//30px;
}

.header:before  {
  display: block;
  content:"";
  height: 2.8125em;//45px;
  width: 100%;
  position: absolute;
  overflow:hidden;
  left:0;
  top:100%;
  background: $color-greylight;
 
}
.header__content:after {
  display: block;
  content:"";
  height: 2.8125em;//45px;
  width: 100%;
  position: absolute;
  overflow:hidden;
  left:0;
  top:100%;
  background: url("../img/s.png") no-repeat -94px -211px;
  
  
}
