//_menu.scss
@import "_set";

.menu {
  border-bottom: 0.625em solid $color-grey; //10px
  position:relative;
  top: 0.8125em;//13px; 
 

}

.menu__list {
  margin: 0;
  padding: 0; 
  position:relative;
  top: 0.625em;//10px;
  z-index: 1;
   width:360px;
  
 
}
.menu__item {
  list-style: none;
  display: inline-block;
  min-width: 3.125em;//50px;
  height:1.25em;//20px;
  margin-left: 0.625em;//10px;
} 
.menu__item:first-child {
  margin-left: 0px;

}
.menu__link {
  display:block;
  width:100%;
  height: 1.875em;//30px;
  font-family: $miriadpro;
  text-transform: uppercase;
  font-size: 0.875em;//14px;
  font-weight: 700;
  text-decoration: none;
  color: $color-black;
   
 }
 .menu__link:hover {
  color: $color-blue;
 }

 @for $i from 1 through 5 {
  .color#{$i} {
    border-bottom: 0.625em solid nth($color, $i); //10px
  }
} 

.menu-hide {
display: none;
height: 48px;
width: 48px;
position: absolute;
top: -0.65em;
left: 2.5em;
border: 2px solid $color-greydark;
border-radius: 10px;
overflow: hidden;
}
  

.menu-hide__img {
   height: 100%;
   width: auto;
}