//_set.scss

html, body {
    height: 100%;
    font: 1em/1.4;
} 

/* прибьём футер к низу*/
.wrapper{
  position: relative;
  min-height: 100%;
  min-width: 1379px; /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
  height: auto!important;
  overflow: hidden;
} 
.wrapper:after {
  content: "";
  height: 61px;
  display: block;
}
.footer{
  height: 61px;
  margin-top: -61px;  
}
/* прибьём футер к низу - конец*/
/* variables _________________________________________________________________*/
  /* fonts*/
  $miriad: RobotoCondensed;
  $daniel:  Roboto;

$color-grey: #f1f1f1; 
$color-greylight: #f6f6f6;
$color-black: #000000;
$color-green: #b0dd36;
$color-blue: #54b1d2;
$color: (#14aef4, #febf24, #89c734, #ef141c, #832878);


/* clear _____________________________________________________________________*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
} 