extends ../layouts/main_layout
include ../common/mixin

block link
  -var selected = 'Home';

block title
  title LanDog

block content
  .logo
    a.logo__link(href="#")
      .logo__title 
        .logo__title-first Dog
        .logo__title-last Kennels 
    .logo__text professional dog breeding
  .dog-img
      img(src="../img/landog.png").dog-img__image
  .section-wrapper
    section.section.section_green
      ul.main-info
        li.main-info__item.main-info__item_news
          .main-info__header news
          .main-info__text
              |Podcasts recorded at BSAVA (British Small Animal Veterinary Association) by breeders, Kennel Club staff and health experts on topics ranging from inherited diseases to helping puppy buyers bring the right dog in the right home. 
          a.main-info__link.links-more(href="#") News Archive
        li.main-info__item.main-info__item_about
          .main-info__header about us
          .main-info__text
              |In the dog breed center you can search our comprehensive list of over 180 recognized breeds of dogs. Learn about all the important dog breed characteristics, including physical description, temperament, history, and potential health related issues. Check back frequently to see our updated featured dog breeds.
          a.main-info__link.links-more(href="#") Read More
       

    section.section.section_blue
      ul.sales-info
        li.sales-info__item
          .sales-info__header Pupies for sale
          .sales-info__desc  Our Find a Puppy service
          .sales-info__inner
            ul.sale-list
              li.sale-list__item
                .sale-list__left-block
                  .sale-list__img-wrap
                    img(src="../img/dog1.png", alt="photo").sale-list__img
                .sale-list__right-block
                  .sale-list__header  Hansom Cab Stable Dogs
                  .sale-list__text  
                    |Hunting small vermin, usually in stables and companion.
              li.sale-list__item
                .sale-list__left-block
                  .sale-list__img-wrap
                    img(src="../img/dog2.png", alt="photo").sale-list__img
                .sale-list__right-block
                  .sale-list__header  Cardigan Welsh Corgi - Dog of the Celts
                  .sale-list__text  Herding and guarding sheep
            ul.sale-links
              li.sale-links__item
                a(href="#").sale-links__link  Are you ready for a dog
              li.sale-links__item
                a(href="#").sale-links__link  Buying a puppy or a dog
              li.sale-links__item
                a(href="#").sale-links__link  Assured Breeder Scheme

        li.sales-info__item
          .sales-info__header Dog breeding tips
          .sales-info__desc  Best tips from our breeders 
          .sales-info__inner
            .tips
              .tips__item
                .tips__wrap-img
                  img(src="../img/family.png", alt="photo").tips__img
                .tips__header  I want to breed from my dogs...
                .tips__text  
                  |The Kennel Club considers Screening to be an important factor before breeding your dog or purchasing a puppy, in order to assist in the prevention and control of some health issues. In the Centre you will find the most up to date information about dog health scheme recommendations for your breed.

                a.tips__link.links-more(href="#") read more

