extends ../layouts/main_layout
include ../common/mixin

block link
  -var selected = 'Home';

block title
  title LanDog

block content
  .logo
    .logo__wrapper
      a.logo__link(href="")
        img(src=" ", alt="photo").logo__img
    .logo__title Dog Kennels professional dog breeding

  section.section.section_green
    ul.main-info
      li.main-info__item
        .main-info__header news
        .main-info__text
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, at.
        a.main-info__link(href="") News Archive
      li.main-info__item
        .main-info__header about us
        .main-info__text
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, at.
        a.main-info__link(href="") Read More
     

  section.section.section_blue
    ul.sales-info
      li.sales-info__item
        .sales-info__header Pupies for sale
        .sales-info__desc  Lorem ipsum dolor sit amet.
        .sales-info__inner
          ul.sale-list
            li.sale-list__item
              .sale-list__img-wrap
                img(src=" ", alt="photo").sale-list__img
              .sale-list__header  Lorem ipsum dolor.
              .sale-list__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, fuga.
            li.sale-list__item
              .sale-list__img-wrap
                img(src=" ", alt="photo").sale-list__img
              .sale-list__header  Lorem ipsum dolor sit amet, consectetur.
              .sale-list__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro magnam doloribus explicabo provident,Beatae!
          ul.sale-links
            li.sale-links__item
              a(href="").sale-links__link  Lorem ipsum dolor sit amet.
            li.sale-links__item
              a(href="").sale-links__link  Lorem ipsum dolor sit amet.
            li.sale-links__item
              a(href="").sale-links__link  Lorem ipsum dolor sit amet.

      li.sales-info__item
        .sales-info__header Dog breeding tips
        .sales-info__desc  Lorem ipsum dolor sit amet.
        .sales-info__inner
          .tips
            .tips__item
              .tips__wrap-img
                img(src=" ", alt="photo").tips__img
              .tips__header  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, placeat.
              .tips__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ad ipsam quisquam numquam porro, error dolor laboriosam saepe aperiam rerum.
              a.tips__link(href="") read more

